API_ID=12345678
API_HASH=abcdef1234567890abcdef1234567890
SESSION=
FFMPEG_PATH=C:\ffmpeg\ffmpeg-master-latest-win64-gpl-shared\bin\ffmpeg.exe

# Чаты для исходящих (пусто = все чаты)
OUTGOING_CHAT_IDS=123456789,123456789

# Чаты для входящих (пусто = никакие)
INCOMING_CHAT_IDS=123456789

# Скачивать видео из исходящих сообщений (удаляет ссылку)
HANDLE_OUTGOING=true
# Скачивать видео из входящих сообщений (отвечает на сообщение)
HANDLE_INCOMING=true
